#Example environment variables for Strapi application, here specified for a Postgres database.
#Copy this file to .env and fill in the values before running the application.
HOST=0.0.0.0
PORT=1337
ADMIN_JWT_SECRET=someRandomString
CLIENT=postgres
DATABASE_HOST=SOME_HOST
DATABASE_PORT=5432
DATABASE_NAME=SOME_DATABASE
DATABASE_USERNAME=SOME_USERNAME
DATABASE_PASSWORD=SOME_PASSWORD
DATABASE_SCHEMA=SOME_SCHEMA
DATABASE_SSL=true
